{
.appVersion = "4107";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
date = "2026-09-09 07:37:57 +0000";
familyName = CosaQui;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn AZE;
languagesystem latn CRT;
languagesystem latn KAZ;
languagesystem latn TAT;
languagesystem latn TRK;
languagesystem latn ROM;
languagesystem latn MOL;
languagesystem latn MAH;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_DFLT_1 {
	@CombiningTopAccents = [acutecomb brevecomb caroncomb circumflexcomb commaturnedabovecomb dieresiscomb dotaccentcomb gravecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	lookupflag UseMarkFilteringSet @CombiningTopAccents;
	sub i' @CombiningTopAccents by idotless;
	sub j' @CombiningTopAccents by jdotless;
} ccmp_DFLT_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "script latn;

language AZE CRT KAZ TAT TRK;
lookup idotaccent {
	sub i by idotaccent;
} idotaccent;

language ROM MOL;
lookup commaaccent {
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
} commaaccent;

language MAH;
lookup locl_latn_2 {
	sub Lcommaaccent by Lcommaaccent.loclMAH;
	sub Ncommaaccent by Ncommaaccent.loclMAH;
	sub lcommaaccent by lcommaaccent.loclMAH;
	sub ncommaaccent by ncommaaccent.loclMAH;
	sub commaaccentcomb by commaaccentcomb.loclMAH;
} locl_latn_2;
";
tag = locl;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f f by f_f;
";
tag = liga;
}
);
fontMaster = (
{
axesValues = (
64
);
customParameters = (
{
name = "Master Icon Glyph Name";
value = A;
}
);
guides = (
{
angle = 180;
lockAngle = 1;
name = Diacritici;
pos = (0,560);
},
{
angle = 180;
lockAngle = 1;
name = Diacritici;
pos = (0,704);
},
{
name = Parentesi;
pos = (0,-64);
}
);
id = m01;
metricValues = (
{
over = 16;
pos = 672;
},
{
over = 16;
pos = 640;
},
{
over = 16;
pos = 480;
},
{
over = -16;
},
{
over = -16;
pos = -256;
}
);
name = Regular;
userData = {
GSCornerRadius = 15;
GSOffsetHorizontal = -54;
GSOffsetVertical = -54;
};
}
);
instances = (
{
axesValues = (
64
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = designers;
values = (
{
language = dflt;
value = "Marco Goran Romano";
}
);
},
{
key = designerURL;
value = www.marcogoranromano.com;
}
);
settings = {
gridLength = 32;
gridSubDivision = 32;
};
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
